@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
body{
    margin: 0;
}
main{
    margin-top: 90px;
}
#container{
     display: flex;
      direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
      padding-right: 50px;
      position: fixed;
      width: 100%;
      background-color: white;
      top:0;
}
#top-logo{
    width: 120px;
    height: 50px;
    padding-left: 50px;
    
}
.title-bar{
    
    text-decoration:none;
    color:rgb(194, 186, 186);
     border-radius: 2px;
     font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0 16px;
     
}
 .title-bar:hover{
    color:#000;
    border-bottom: 4px solid #8071D0;

} 
#but-login{
    padding: 18px 25px;
    border: 1.5px solid #FFD8DB;
    border-radius: 25px;
    background-color:#FFD8DB;
    color:#A389CC;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  
}
#button{
    padding-right: 50px;
}
#left-section{
    display: flex ;
    
}
 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    
}
span{
    font-family: 'Poppins', sans-serif;
    color:#8071D0 ;
    font-size: 40px;
}
.first-div{
    margin-left: 130px;
}

#second-div{
    font-family: 'Poppins', sans-serif;
    color: grey;
    font-size: 14px;
    padding: 0px 0 20px 0;
    
}
#third-div{
    display: flex;
    padding-right: 20px;
    


}
#btn-new{
    border: 1.5px solid #8071D0;
    border-radius: 25px;
    width: 95px;
    padding: 16px 13px 16px 28px;
    background-color: #8071D0 ;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
#landing-logo{
    margin-top: 20px;
    width: 55vw;
    height: 68vh;
    margin-left: 30px;
}
 
.first-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0px solid grey;
    width: 25%;
    border-radius: 14px;
    background-color:rgba(250, 250, 241, 0.87);
    margin: 5px;
    padding: 10px 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
   
    
    
}
.first-row:hover{
    background-color: white;
    box-shadow: 0 0 23px rgb(190, 187, 187);
}
#second-section{
    margin-left: 130px;
    margin-bottom: 100px;
    padding-top: 5px;
    
} 
.tick-bar{
    width: 35px;
    height: 38px;
    
}
.user-bar{
    width: 35px;
    height: 40px;
   margin-right: 20px; 
   margin-left: 20px; 
}
.small-button{
    margin-left: auto;
    border: 1px solid #FED7DA;
    background-color:#FED7DA ;
    height: 12px;
    width: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
   
}
#second-color{
    border: 1px solid #FD6534 ;
    background-color: #FD6534;
}
#third-color{
    background-color:#9ED095 ;
    border: 1px solid #9ED095 ;
}
#fourth-color{
    background-color:#FD6534 ;
    border: 1px solid #FD6534 ;
}

p{
      padding-left: 15px; 
     margin-right: auto; 
  
   
}